# Source: olm/templates/0000_50_olm_00-namespace.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-operator-lifecycle-manager
  annotations:
    openshift.io/node-selector: ""
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
  labels:
    openshift.io/scc: "anyuid"
    openshift.io/cluster-monitoring: "true"
---
# Source: olm/templates/0000_50_olm_00-namespace.yaml
apiVersion: v1
kind: Namespace
metadata:
  name: openshift-operators
  annotations:
    openshift.io/node-selector: ""
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
  labels:
    openshift.io/scc: "anyuid"
