[submodule "deploy/aos-olm/openshift-ansible"]
	path = deploy/aos-olm/openshift-ansible
	url = https://github.com/openshift/openshift-ansible
[submodule "vendor/k8s.io/code-generator"]
	path = vendor/k8s.io/code-generator
	url = https://github.com/kubernetes/code-generator
