---
# Source: alm/templates/11-catalog-operator.deployment.yaml
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: catalog-operator
  namespace: tectonic-system
  labels:
    app: catalog-operator
    tectonic-operators.coreos.com/managed-by: tectonic-x-operator
spec:
  strategy:
    type: RollingUpdate
  replicas: 1
  selector:
    matchLabels:
      app: catalog-operator
  template:
    metadata:
      labels:
        app: catalog-operator
    spec:
      serviceAccountName: alm-operator-serviceaccount
      containers:
        - name: catalog-operator
          command:
          - /bin/catalog
          - '-namespace'
          - tectonic-system
          - '-debug'
          image: quay.io/coreos/catalog@sha256:e0b5e4c6f1d89122780f6d98c7052b8426c3b94d35655538f562d8849bcbbc66
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
      imagePullSecrets:
        - name: coreos-pull-secret

