##---
# Source: olm/templates/0000_30_14-olm-operators.configmap.yaml
kind: ConfigMap
apiVersion: v1
metadata:
  name: olm-operators
  namespace: olm

data:
  customResourceDefinitions: |-
  clusterServiceVersions: |-
    
    - apiVersion: operators.coreos.com/v1alpha1
      kind: ClusterServiceVersion
      metadata:
        name: packageserver.v0.8.0
        namespace: olm
      spec:
        displayName: Package Server
        description: Represents an Operator package that is available from a given CatalogSource which will resolve to a ClusterServiceVersion.
        keywords: ['packagemanifests', 'olm', 'packages']
        maintainers:
        - name: Red Hat
          email: openshift-operators@redhat.com
        provider:
          name: Red Hat
        links:
        - name: Package Server
          url: https://github.com/operator-framework/operator-lifecycle-manager/tree/master/pkg/packageserver
        installModes:
        - type: OwnNamespace
          supported: true
        - type: SingleNamespace
          supported: true
        - type: MultiNamespace
          supported: true
        - type: AllNamespaces
          supported: true
        install:
          strategy: deployment
          spec:
            clusterPermissions:
            - serviceAccountName: packageserver
              rules:
              - apiGroups:
                - ""
                resources:
                - configmaps
                verbs:
                - get
                - list
                - watch
              - apiGroups:
                - "operators.coreos.com"
                resources:
                - catalogsources
                verbs:
                - get
                - list
                - watch
              - apiGroups:
                - "packages.apps.redhat.com"
                resources:
                - packagemanifests
                verbs:
                - get
                - list
                - watch
                - create
                - delete
                - patch
                - update
            deployments:
            - name: packageserver
              spec:
                replicas: 1
                strategy:
                  type: RollingUpdate
                selector:
                  matchLabels:
                    app: packageserver
                template:
                  metadata:
                    labels:
                      app: packageserver
                  spec:
                    serviceAccountName: packageserver
                    containers:
                    - name: packageserver
                      command:
                      - /bin/package-server
                      - -v=4
                      - --secure-port
                      - "5443"
                      - --global-namespace
                      - olm
                      image: quay.io/coreos/olm@sha256:1639d570809c5827810a1870763016e8c046283632d47e0b47183c82f8e515f2
                      imagePullPolicy: Always
                      ports:
                      - containerPort: 5443
                      livenessProbe:
                          httpGet:
                            scheme: HTTPS
                            path: /healthz
                            port: 5443
                      readinessProbe:
                          httpGet:
                            scheme: HTTPS
                            path: /healthz
                            port: 5443
        maturity: alpha
        version: 0.8.0
        apiservicedefinitions:
          owned:
          - group: packages.apps.redhat.com
            version: v1alpha1
            kind: PackageManifest
            displayName: PackageManifest
            description: A PackageManifest is a resource generated from existing CatalogSources and their ConfigMaps
            deploymentName: packageserver
            containerPort: 5443
  packages: |-
    
    - packageName: packageserver
      channels:
      - name: alpha
        currentCSV: packageserver.v0.8.0

