name: build
on:
  merge_group:
  pull_request:
  workflow_dispatch:
jobs:
  image:
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3
    - name: Build the container image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: Dockerfile
        push: false
