name: e2e
on:
  schedule:
    - cron: '30 5,17 * * *' # run this every day at 5:30 and 17:30 UTC (00:30 and 12:30 ET)
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
  merge_group:
jobs:
  e2e:
    strategy:
      fail-fast: false
      matrix:
        parallel-id: [0, 1, 2, 3]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - run: mkdir -p artifacts
      - run: make e2e-local E2E_TEST_CHUNK=${{ matrix.parallel-id }} E2E_TEST_NUM_CHUNKS=${{ strategy.job-total }} E2E_NODES=2 ARTIFACT_DIR=./artifacts/ SKIP='\[FLAKE\]'
      - name: Archive Test Artifacts # test results, failed or not, are always uploaded.
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: e2e-test-output-${{ (github.event.pull_request.head.sha || github.sha) }}-${{ github.run_id }}-${{ matrix.parallel-id }}
          path: ${{ github.workspace }}/bin/artifacts/*
        # TODO: create job to combine test artifacts using code in https://github.com/operator-framework/operator-lifecycle-manager/pull/1476
  e2e-tests:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: e2e
    steps:
    - run: |
        echo "Matrix result: ${{ needs.e2e.result }}"
    - name: check individual matrix results
      if: ${{ needs.e2e.result == 'failure' }}
      run: |
        echo 'Failure: at least one e2e matrix job has failed'
        exit 1
