name: ci
on:
  push:
    branches:
      - master
  pull_request:
    paths-ignore:
    - '**/*.md'
jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '~1.16'
      - run: make e2e-local E2E_NODES=2 ARTIFACTS_DIR=./artifacts/
      - name: Archive Test Artifacts # test results, failed or not, are always uploaded.
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: e2e-test-output-${{(github.event.pull_request.head.sha||github.sha)}}-${{ github.run_id }}
          path: ${{ github.workspace }}/bin/artifacts/*
