name: sanity
on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_dispatch:
jobs:
  vendor:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-go@v2
      with:
        go-version: '~1.17'
    - name: Run sanity checks
      run: make vendor && make diff
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run linting checks
      uses: "golangci/golangci-lint-action@v2"
      with:
        version: "v1.43"
