name: sanity
on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_dispatch:
  merge_group:
jobs:
  check-vendor:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
    - name: Verify vendor directory
      run: make vendor && make diff
  static-analysis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version-file: "go.mod"
    - name: Run static analysis tools
      run: make lint vet
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: Verify generated code (mocks, clients, listers, etc.)
        run: make verify