name: verify
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:
  merge_group:
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"

        # Note(tflannag): We need to explicitly setup the GOPATH as the generate-internal-groups.sh
        # codegen script still relies on $GOPATH being set and will return an error otherwise.
        # The setup-go action does not set this value for us: https://github.com/actions/setup-go/issues/14.
      - name: Run the verify target
        run: GOPATH=$(go env GOPATH) make verify
